.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  inline-size: min(100%, var(--form-max-width));
  margin-inline: auto;
}

.form {
  inline-size: 100%;
}

.form-input-wrapper {
  position: relative;
  inline-size: 100%;
}

.form-input {
  inline-size: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--neutral-30);
  border-radius: 8px;
  background: transparent;
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 1rem;
  transition: border-color 0.25s;

  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }

  &[aria-invalid="true"] {
    border-color: var(--secondary-color);
  }

  @media (--desktop) {
    padding: 1rem;
  }
}

.form-error {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 0;
  margin-block-start: 0.5rem;
  color: var(--secondary-color);
  font-size: 0.875rem;
  font-weight: 500;
}

.form-audio-wrapper {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
