.main {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  inline-size: min(100%, var(--max-width));
  padding-block-start: 4rem;
  padding-inline: clamp(1rem, 5vw, 5rem);
  margin-inline: auto;
  position: relative;
  z-index: 1;
}
