:root {
  --background: #0a0a0a;
  --text-color: #fcfbf8;
  --primary-color: #4bd8fa;
  --secondary-color: rgb(252, 90, 184);

  --max-width: 75rem;
  --content-max-width: 30rem;

  --font-heading: "Anton", sans-serif;
  --font-body: "Playfair Display", serif;
}
