:root {
  --neutral-100: #0a0a0a;
  --neutral-30: #d9d9d9;
  --neutral-20: #f4f4f4;
  --neutral-10: #fcfbf8;

  --text-color: var(--neutral-10);

  /* --primary-color: #4bd8fa; */
  --primary-color: #ff0066;
  --secondary-color: #ff0066;
  /* --secondary-color: rgb(252, 90, 184); */

  --max-width: 75rem;
  --content-max-width: 30rem;
  --form-max-width: 25rem;

  --font-heading: "Anton", sans-serif;
  --font-body: "Playfair Display", serif;
}
